
.row {
    width: 600px;
    outline: 2px solid #d2d2d2;
    background: radial-gradient(circle farthest-corner at 12.3% 19.3%, #EFEFEFFF 0%, #378d55 100.2%);
    box-shadow: 10px 10px 10px 1px rgba(0 0 0 / 20%);
    border-style: none;
    border-radius: 15px;
    padding: 4%;
    display: grid;
    grid-column: 4fr 1fr;
}

.form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.infoQuiz {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.infoQuizP {
  font-size: 15px;
}

  .form-btn {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .submit-btn {
    height: 60px;
    width: 150px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    outline: 2px solid #d2d2d2;
    &:hover{
      outline: 2px solid rgb(201, 245, 153);
    }
    &:active {
      i:before{
        animation: flip 0.2s 1 linear;
      }
    }
  }

  button {
    font-size: 20px;
  }

.row .submit-btn:hover,
.row .submit-btn:focus {
    opacity: 0.9;
}

h1{
  font-size: 35px;
}

p{
  font-size: 25px;
}

label{
  font-size: 25px;
}

@media only screen and (max-width: 900px) {

.row {
    width: 450px;
    box-shadow: 7px 7px 7px 1px rgba(0 0 0 / 20%);
}

  .submit-btn {
    height: 40px;
    width: 100px;
  }

  button {
    font-size: 15px;
  }

h1{
  font-size: 30px;
}

.infoQuizP {
  font-size: 11px;
}

p{
  font-size: 18px;
}

label{
  font-size: 18px;
}
}

@media only screen and (max-width: 700px) {

.row {
    width: 300px;
    box-shadow: 7px 7px 7px 1px rgba(0 0 0 / 20%);
}

  .submit-btn {
    height: 30px;
    width: 65px;
  }

  button {
    font-size: 10px;
  }

h1{
  font-size: 20px;
}

.infoQuizP {
  font-size: 7px;
}

p{
  font-size: 12px;
}

label{
  font-size: 12px;
}
}