<div id="quiz" class="section">
    <div class="container">

      <app-quiz #quiz 
        *ngIf="showQuizScreen" 
        (finalResult)="finalResult($event)"
        (showMenuScreen)="showMainMenuScreen($event)" 
        [questions]="test" 
        [difficulty]="difficulty"
        [questionsLimit]="questionsLimit" 
        [questions]="test">
      </app-quiz>
      <app-result #result 
        *ngIf="showResultScreen" 
        (showMainMenuScreen)="showMainMenuScreen($event)"
        [finalResult]="finalResultData">
      </app-result>
      <div [style.display]="(showMainMenu)?'block':'none'" class="allInfo">
        <div class="quiz-form">

            <div class="form-group">
              <span class="form-label">Difficulty</span>
              <select class="form-control" [(ngModel)]="difficulty">
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
              </select>
              <span class="select-arrow"></span>
            </div>

            <div class="form-group">
              <span class="form-label">Question</span>
              <select class="form-control" [(ngModel)]="questionsLimit">
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
              </select>
              <span class="select-arrow"></span>
            </div>

            <div class="form-btn">
              <button class="submit-btn" (click)="quizQuestions(true)">Random</button>
              <button class="submit-btn" (click)="quizQuestions()" *ngIf="!loading">Start Quiz</button>
              <button class="submit-btn" type="button" disabled *ngIf="loading">
                <span class="spinner-border" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>

      </div>
    </div>
  </div>
</div>