/* You can add global styles to this file, and also import other style files */
/* $enable-shadows: true;

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap"; */

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 570px;
  max-width: none;
}

#quiz {
    width: 100%;
    height: 100%;
    font-family: 'Consolas';
    background: radial-gradient(circle farthest-corner at 12.3% 19.3%, #EFEFEFFF 0%, #378d55 100.2%);
    background-size: cover;
    background-position: center;
}

#quiz::before {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.quiz-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.quiz-form select.form-control+.select-arrow {
    position: absolute;
    right: 70px;
    bottom: 35px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(62, 72, 92, 0.3);
    font-size: 24px;
}

.quiz-form select.form-control+.select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media only screen and (max-width: 900px) {
.quiz-form select.form-control+.select-arrow {
    position: absolute;
    right: 55px;
    bottom: 10px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(62, 72, 92, 0.3);
    font-size: 18px;
}
}

@media only screen and (max-width: 600px) {
.quiz-form select.form-control+.select-arrow {
    position: absolute;
    right: 35px;
    bottom: 10px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(62, 72, 92, 0.3);
    font-size: 12px;
}
}