
  .allInfo {
    min-height: 500px;
    min-width: 600px;
    outline: 2px solid #d2d2d2;
    background: radial-gradient(circle farthest-corner at 12.3% 19.3%, #EFEFEFFF 0%, #378d55 100.2%);
    box-shadow: 10px 10px 10px 1px rgba(0 0 0 / 20%);
    border-style: none;
    border-radius: 15px;
    padding: 4%;
  }

  .quiz-form {
    min-height: 500px;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
  }

  .form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .form-control {
    width: 80%;
  }

  select {
    margin-top: 5%;
    min-height: 70px;
    border-radius: 15px;
    padding: 0 7%;
    font-size: 25px;
  }

  .form-btn {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .submit-btn {
    min-height: 60px;
    min-width: 250px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    outline: 2px solid #d2d2d2;
    &:hover{
      outline: 2px solid rgb(201, 245, 153);
    }
    &:active {
      i:before{
        animation: flip 0.2s 1 linear;
      }
    }
  }

  button {
    font-size: 20px;
  }

.quiz-form .submit-btn:hover,
.quiz-form .submit-btn:focus {
  opacity: 0.9;
}

  .form-label{
    font-size: 45px;
    font-weight: bold;
}